<%- include('partials/head.ejs') %>
<%- include('partials/adminHeader.ejs') %>
<main class="main-container">
  <section class="container mt-3">
    <div class="container">
      <div class="row">
        <div class="col d-flex align-items-center">
          <div class="fs-3 me-3">
            <iconify-icon icon="material-symbols-light:search"></iconify-icon>
          </div>
          <input class="col-3 input fs-3 p-1" />
        </div>
      </div>
      <div class="row">
        <p class="login__text">LISTADO DE PRODUCTOS</p>
      </div>

      <div class="row">
        <div class="d-flex justify-content-end align-items-center">
          <a href="/admin/create">
            <p class="mb-0">AGREGAR</p>
          </a>
          <a href="/admin/create"
            ><iconify-icon icon="ph:plus-fill" class="fs-1 ms-1"></iconify-icon
          ></a>
        </div>
      </div>
      <div class="row">
        <table class="table fs-4">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Código</th>
              <th scope="col">Nombre del producto</th>
              <th scope="col">Categoría</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <% list.forEach( products=> { %>
          <tbody>
            <tr>
              <td><%= products.product_id%></td>
              <td><%= products.sku %></td>
              <td><%= products.product_name%></td>
              <td><%= products.category_name %></td>
              <td>
                <a href="/admin/edit/<%= products.product_id %>">
                  <iconify-icon icon="bi:pencil-fill"></iconify-icon>
                </a>
              </td>
              <td>
                <a href="/admin/delete">
                  <iconify-icon icon="bi:trash-fill"></iconify-icon>
                </a>
              </td>
            </tr>
          </tbody>
          <% }) %>
        </table>
      </div>
    </div>
  </section>
</main>
<%- include('partials/adminFooter.ejs') %>
<%- include('partials/foot.ejs') %>
