<%- include('partials/head.ejs') %>
<%- include('partials/adminHeader.ejs') %>
    <main class="main-container">
      <section class="container mt-3">
        <div class="container">
          <div class="row">
            <p class="login__text">EDITAR PRODUCTO</p>
          </div>
          <form action="/admin/edit/<%= product.product_id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <p class="m-0">Categoría</p>
                <select name="category_id" id="category" class="ms-3 col-2 fs-3 me-5" required >
                  <% categories.forEach((category, i) =>{ %>
                      <option <% if (product.category_id === i +1) { %>selected<% } %> value="<%= i+1 %>"><%= category.category_name%></option>
                  <% }); %>
              </select>
                <p class="m-0">Licencia</p>
                <select class="ms-3 col-2 fs-3" name="licence_id" id="licence"  required>
                    <% licences.forEach((licence, i) => { %>
                        <option <% if (product.licence_id === i +1) { %>selected<% } %> value="<%=i +2%>"><%= licence.licence_name%></option>
                    <% }); %>
                </select></label>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <p class="m-0">Nombre del producto</p>
                <input name="product_name" value="<%= product.product_name %>" required type="text" class="collection__input ms-3 col-2 fs-3" />
              </div>
            </div>
            <div class="row mb-4">
              <textarea
                name="product_description"
                id="description"
                cols="15"
                rows="5"
                class="col-5 fs-3"
                placeholder="Descripción"
              ><%= product.product_description %></textarea>
            </div>
            <!-- Line 4: SKU + input, Price + input, Stock + input -->
            <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <p class="mb-0">SKU</p>
                <input name="sku" value="<%= product.sku %>" type="text" class="ms-3 col-2 fs-3 me-5" />
                <p class="mb-0">Precio</p>
                <input name="price" value="<%= product.price %>" type="text" class="ms-3 col-2 fs-3 me-5" />
                <p class="mb-0">Stock</p>
                <input name="stock" value="<%= product.stock %>" type="text" class="ms-3 col-2 fs-3" />
              </div>
            </div>

            <!-- Line 5: Discount + input, Cuotes + dropdown -->
            <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <p class="mb-0">Descuento</p>
                <input name="discount" value="<%= product.discount %>" type="text" class="ms-3 col-2 fs-3 me-5" />
                <p class="mb-0">Cuotas</p>
                <select name="dues" class="ms-3 col-2 fs-3">
                  <option value="3">3</option>
                </select>
              </div>
            </div>

            <!-- Line 6: Images + File upload button -->
            <!-- <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <p class="mb-0">Images</p>
                <input type="file" class="ms-3 col-5 fs-3" />
              </div>
            </div> -->

            <!-- Line 8: Frenteimage (harry-1.webp) + caption, Dorso image (harry-box.webp) + caption -->
            <div class="container mb-4">
              <div class="row">
                <!-- Frente image -->
                <div class="col-6 col-sm-2">
                  <div class="text-center">
                    <img src="/img<%= product.image_front %>" alt="<%= product.product_name %>" class="ms-3 col-12 fs-3 img-fluid" />
                    <p class="m-0">Frente</p>
                  </div>
                </div>
                
                <!-- Dorso image -->
                <div class="col-6 col-sm-2">
                  <div class="text-center">
                    <img src="/img<%= product.image_back %>" alt="<%= product.product_name %>" class="ms-3 col-12 fs-3 img-fluid" />
                    <p class="m-0">Dorso</p>
                  </div>
                </div>
              </div>
            </div>
            
            
            

            <!-- Line 7: Add Producto button + Clear form button -->
            <div class="row mb-4">
              <div class="col d-flex align-items-center">
                <button type="submit" class="btn btn-danger">
                  Guardar
                </button>
                <button type="reset" class="btn btn-danger ms-3">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
<%- include('partials/adminFooter.ejs') %>
<%- include('partials/foot.ejs') %>
