<%- include('partials/head.ejs') %>
<%- include('partials/shopHeader.ejs') %>
  <section class="hero">
    <article class="hero__content container">
      <h3 class="hero__title">Nuevos Ingresos</h3>
      <p class="hero__text">Descubrí el próximo Funko pop de tu colección</p>
      <a href="./shop" class="hero__link">SHOP</a>
    </article>
  </section>
  <main class="main-container">
    <% licenses.forEach(license => { %>
      <section class="collection container">
          <article class="collection__content">
              <h3 class="collection__title"><%= license.licence_name %></h3>
              <p class="collection__text"><%= license.licence_description %></p>
              <a href="./shop" class="collection__link">VER COLECCIÓN</a>
          </article>
          <picture class="collection__cover">
              <img src="<%= license.licence_image %>" alt="<%= license.licence_name %>">
          </picture>
      </section>
  <% }); %>
    <section class="slider container glide">
      <h2 class="slider__title">Últimos lanzamientos</h2>
      <div class="glide__track" data-glide-el="track">
       <ul class="slider__items glide__slides">
        <% products.forEach(product => { %>
          <li class="slider__item glide__slide">
            <article class="card-item">
              <a class="card-item__link" href="/shop/item/<%= product.product_id %>">
                <picture class="card-item__cover">
                  <span class="card-item__tag"><%= product.category_name %></span>
                  <img class="card-item__img__front" src="/img/<%= product.image_front %>" alt="<%= product.product_name %>">
                  <img class="card-item__img__back" src="/img/<%= product.image_back %>" alt="<%= product.product_name %> en su caja">
                </picture>
                <div class="card-item__content">
                  <p class="card-item__license"><%= product.licence_name %></p>
                  <h4 class="card-item__name"><%= product.product_name %></h4>
                  <p class="card-item__price">$ <%= product.price %></p>
                  <p class="card-item__promo"><%= product.discount %>% desc.</p>
                </div>
              </a>
            </article>
          </li>
        <% }); %>
      </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="tabler:chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="tabler:chevron-right"></iconify-icon></button>
      </div>
    </section>
  </main>
<%- include('partials/shopFooter.ejs') %>
<%- include('partials/foot.ejs') %>